body{ 
    background: linear-gradient(to right, #F09656, #EA6361);
    display: flex;
    justify-content: center;
    margin: 0;
}

#menu{
  height: 70px;
  width: 100%;
  border-radius: 0px 0px 25px 25px;
  background-color: white; 
  
}

#kader{
  margin-top: 130px;
  height: 500px;
  width: 400px;
  border-radius:10%;
  background-color: white; 
}

#logo{
    margin-top: 20px;
    margin-left: 60px;
}

#logo2{
    margin-top: 15px;
    margin-left: 20px;
    width: 13%;
}

#profiel{
    margin-left: 160px;
    margin-top: 20px;
    width: 20%;
}
#form{ 
   background-color: #FFFFFF ;
   color: #C6C3BD;
   border-color:#C6C3BD ;
   box-shadow: none;
   font-family: 'Montserrat', sans-serif;
   width: 240px;
   height: 40px;
   border-radius: 12.5px;
   font-size: 17px;
   margin-left: 70px;
   margin-top: 5px ;
   text-align: center;
}

#form2{
   background-color: #FFFFFF ;
   color: #C6C3BD;
   border-color:#C6C3BD ;
   box-shadow: none;
   font-family: 'Montserrat', sans-serif;
   width: 240px;
   height: 40px;
   border-radius: 12.5px;
   font-size: 17px;
   margin-left: 70px;
   margin-top: 70px ;
   text-align: center;
}

#form3{
    background-color: #FFFFFF ;
    color: #C6C3BD;
    border-color:#C6C3BD ;
    box-shadow: none;
    font-family: 'Montserrat', sans-serif;
    width: 240px;
    height: 40px;
    border-radius: 12.5px;
    font-size: 17px;
    margin-left: 70px;
    margin-top: 30px ;
    margin-bottom: 50px;
    text-align: center;
 }

::placeholder {
    color:#C6C3BD ;
  }

#myButton1, #myButton2, #myButton3{
   background-color: #C6C3BD ;
   color: #FFFFFF;
   border-color:#C6C3BD ;
   box-shadow: none;
   font-family: 'Montserrat', sans-serif;
}

#myButton1{ 
    margin-top: 100px ;
    margin-left: 70px;
    width: 250px;
    height: 40px;
    border-radius: 12.5px;
    font-size: 20px;
}

#myButton2{ 
    margin-top: 50px ;
    margin-left: 70px;
    width: 250px;
    height: 40px;
    border-radius: 12.5px;
    font-size: 20px;
}

#myButton3{ 
    margin-top: 10px ;
    margin-left: 70px;
    width: 250px;
    height: 40px;
    border-radius: 12.5px;
    font-size: 20px;
}

#myButton4{ 
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    background-color: #FFFFFF ;
    color: #C6C3BD;
    border-color:#C6C3BD;
    width: 150px;
    height: 30px;
    border-radius: 12.5px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
}

#welkom{
    clear: left;
}